<%- include('partials/head') %> 


<%- include('partials/navbar') %> 

<h1>Your random number is : <%=rand%></h1>
<% if(rand % 2 === 0){ %>
    <h2>that is an even number</h2>
<% } else { %>
    <h2>this is an odd number</h2>
<% } %>
<h3>that number is <%= rand % 2 === 0 ? 'even' : 'odd' %> </h3>  
    
<%- include('partials/footer') %> 
